---
import { getEntry } from "astro:content";

import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";

import Capa from "../components/Capa.astro";
import Destaques from "../components/Destaques.astro";
import Section from "../components/Section.astro";
import CardTurmas from "../components/CardTurmas.astro";
import CardEbooks from "../components/CardEbooks.astro";
import CardAprovacoes from "../components/CardAprovacoes.astro";
import CardDepoimentos from "../components/CardDepoimentos.astro";

import capa from "../img/capa catalise.png";

const turmas = await getEntry("produtos", "turmas");
const materiais = await getEntry("produtos", "materiais");
const depoimentos = await getEntry("alunos", "depoimentos");
const aprovados = await getEntry("alunos", "aprovados");
---

<Layout title="Catálise" description="Catálise cursos">
  <main class="container">
    <div class="testeGsap">
      <div class="box green"></div>
      <div class="box purple"></div>
      <div class="box orange"></div>
    </div>
    <Capa
      title="Uma frase bacana"
      destaque=" Aqui!"
      botao="Conheça nossas turmas"
    >
      <p class="txt-capa" slot="conteudo">
        Explore nossos produtos e siga em direção ao sonho da aprovação.
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Destaques
      img
      titulo1="Metodologia Microlearning"
      texto1="Aulas curtas, completas e focadas com em média 25 minutos. Abordagem eficaz para garantir que o seu aprendizado seja fixado."
      titulo2="Listas de exercícios"
      texto2="Após a aula aprimore-se com listas abrangentes até o nível avançado. corrija com resoluções escritas e vídeos explicativos."
      titulo3="Plantão de dúvidas"
      texto3="Tire suas dúvidas de Física, Química e Matemática ao vivo por chamada do Google Meet. Agende e converse com um professor."
      titulo4="Simulados com correção"
      texto4="7 ciclos de simulados: 1 de embasamento, 6 modelos ITA (1ª e 2ª fase), com gabarito, resolução e correção de todas matérias."
    />
    <Section
      estilo="claro"
      tag="Turmas"
      titulo="Conheça nossas turmas"
      subtitulo="Embarque conosco nesta jornada de preparação, do nível básico ao avançado. Vamos juntos rumo a sua aprovação!"
      botao="Conheça nossas turmas"
    >
      <CardTurmas estilo="grande" turmas={turmas} page="" swiper />
    </Section>
    <Section
      estilo=""
      tag="Materiais"
      titulo="Os melhores materiais para sua preparação"
      subtitulo=""
      link="Conheça nossos materiais"
      colunas="col3"
    >
      <CardEbooks materiais={materiais} page="principal" />
    </Section>
    <Section
      estilo="claro aprovacoes"
      tag="Aprovações"
      titulo="Conheça nossos aprovados para o ITA"
      subtitulo="Assista as inspiradoras jornadas de nossos alunos aprovados no ITA. Eles acreditaram no sonho, perseveraram e conquistaram o topo. O próximo pode ser você!"
    >
      <CardAprovacoes aprovados={aprovados} page="" />
    </Section>
    <Capa
      title="Faça parte"
      destaque=" do Catálise!"
      botao="Conheça nossas turmas"
      linha
    >
      <p class="txt-capa" slot="conteudo">
        O melhor preparatório online para o ITA, IME e EEAR!
      </p>
      <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
    </Capa>
    <Section
      estilo="claro"
      tag="Depoimentos"
      titulo="Conheça a experiência dos nossos alunos"
      subtitulo="Descubra como o Catálise impactou a vida de nossos Alunos"
    >
      <div class="depoimentos">
        <CardDepoimentos depoimentos={depoimentos} page="" />
      </div>
    </Section>
  </main>
</Layout>

<script>
  import { gsap } from "gsap";
  gsap.fromTo(
    ".box",
    {
      backgroundColor: "cyan",
      scale: 0,
    },
    {
      backgroundColor: "blue",
      duration: 1,
      repeat: -1,
      yoyo: true,
      scale: 1,
    }
  );
</script>
<style>
  .testeGsap {
    display: none;
  }
</style>
