---
import type { CollectionEntry } from "astro:content";
import { Image } from "astro:assets";

import Botao from "./Botao.astro";
interface Props {
  turmas: CollectionEntry<"produtos">;
  estilo: string;
  swiper?: boolean;
  page: string;
}

const { turmas, estilo, swiper, page } = Astro.props;

const principal = turmas.data.content.filter(
  (item) => item.page === "principal"
);
const volume = turmas.data.content.filter((item) => item.page === "volume");
---

{
  !swiper && page === "principal"
    ? principal.map((material) => (
        <div class={"card " + estilo}>
          <div class="capa">
            <Image
              src={material.img}
              alt="Capa da turma"
              class={material.tag.toLowerCase()}
            />
          </div>
          <div class="texto">
            <span class={material.tag.toLowerCase()}>{material.tag}</span>
            <h1>{material.nome}</h1>
            <Botao
              estilo="outline-escuro pequeno mt-2"
              texto="Saiba mais"
              link={material.link}
            />
          </div>
        </div>
      ))
    : !swiper && page === "volume"
    ? volume.map((material) => (
        <div class={"card " + estilo}>
          <div class="capa">
            <Image
              src={material.img}
              alt="Capa da turma"
              class={material.tag.toLowerCase()}
            />
          </div>
          <div class="texto">
            <span class={material.tag.toLowerCase()}>{material.tag}</span>
            <h1>{material.nome}</h1>
            <Botao
              estilo="outline-escuro pequeno mt-2"
              texto="Saiba mais"
              link={material.link}
            />
          </div>
        </div>
      ))
    : !swiper &&
      turmas.data.content.map((material) => (
        <div class={"card " + estilo}>
          <div class="capa">
            <Image
              src={material.img}
              alt="Capa da turma"
              class={material.tag.toLowerCase()}
            />
          </div>
          <div class="texto">
            <span class={material.tag.toLowerCase()}>{material.tag}</span>
            <h1>{material.nome}</h1>
            <Botao
              estilo="outline-escuro pequeno mt-2"
              texto="Saiba mais"
              link={material.link}
            />
          </div>
        </div>
      ))
}
{
  swiper && page === "principal" ? (
    <div class="Swiper swiper-turmas">
      <div class="swiper-wrapper">
        {principal.map((material) => (
          <div class="swiper-slide">
            <div class={"card " + estilo}>
              <div class="capa">
                <Image
                  src={material.img}
                  alt="Capa da turma"
                  class={material.tag.toLowerCase()}
                />
              </div>
              <div class="texto">
                <span class={material.tag.toLowerCase()}>{material.tag}</span>
                <h1>{material.nome}</h1>
                <Botao
                  estilo="outline-escuro pequeno mt-2"
                  texto="Saiba mais"
                  link={material.link}
                />
              </div>
            </div>
          </div>
        ))}
      </div>
      <div class="swiper-button-next" />
      <div class="swiper-button-prev" />
    </div>
  ) : swiper && page === "volume" ? (
    <div class="Swiper swiper-turmas">
      <div class="swiper-wrapper">
        {volume.map((material) => (
          <div class="swiper-slide">
            <div class={"card " + estilo}>
              <div class="capa">
                <Image
                  src={material.img}
                  alt="Capa da turma"
                  class={material.tag.toLowerCase()}
                />
              </div>
              <div class="texto">
                <span class={material.tag.toLowerCase()}>{material.tag}</span>
                <h1>{material.nome}</h1>
                <Botao
                  estilo="outline-escuro pequeno mt-2"
                  texto="Saiba mais"
                  link={material.link}
                />
              </div>
            </div>
          </div>
        ))}
      </div>
      <div class="swiper-button-next" />
      <div class="swiper-button-prev" />
    </div>
  ) : (
    swiper && (
      <div class="Swiper swiper-turmas">
        <div class="swiper-wrapper">
          {turmas.data.content.map((material) => (
            <div class="swiper-slide">
              <div class={"card " + estilo}>
                <div class="capa">
                  <Image
                    src={material.img}
                    alt="Capa da turma"
                    class={material.tag.toLowerCase()}
                  />
                </div>
                <div class="texto">
                  <span class={material.tag.toLowerCase()}>{material.tag}</span>
                  <h1>{material.nome}</h1>
                  <Botao
                    estilo="outline-escuro pequeno mt-2"
                    texto="Saiba mais"
                    link={material.link}
                  />
                </div>
              </div>
            </div>
          ))}
        </div>
        <div class="swiper-button-next" />
        <div class="swiper-button-prev" />
      </div>
    )
  )
}
<script>
  import Swiper from "swiper";
  import "swiper/css";
  import "swiper/css/navigation";

  import { Navigation } from "swiper/modules";

  const swiper = new Swiper(".swiper-turmas", {
    modules: [Navigation],
    slidesPerView: "auto",
    spaceBetween: 24,
    navigation: {
      nextEl: ".swiper-button-next",
      prevEl: ".swiper-button-prev",
    },
  });
</script>
<style scoped>
  .swiper-turmas {
    position: relative;
    overflow: hidden;
    padding: 1rem 0;
  }
  .swiper-wrapper {
    max-width: 52rem;
    min-height: 27rem;
  }
  .swiper-slide {
    width: 18rem;
    place-self: center;
    border-radius: 1rem;
    box-shadow: 0.5rem 0.5rem 1.2rem -0.6rem rgba(0, 0, 0, 0.15);
  }
  .swiper-button-next,
  .swiper-button-prev {
    width: 5rem;
    height: 5rem;
    background: var(--clr-white);
    border-radius: 5rem;
    box-shadow: 0 0.1rem 2rem hsl(0, 0%, 60%);
    margin: -2.8rem 1rem;
  }
  .swiper-button-next:after,
  .swiper-rtl .swiper-button-prev:after {
    font-weight: 600;
    padding-left: 0.4rem;
  }
  .swiper-button-prev:after,
  .swiper-rtl .swiper-button-next:after {
    font-weight: 600;
    padding-right: 0.4rem;
  }
  .swiper-button-disabled {
    display: none;
    opacity: 0;
  }
  .card {
    background-color: var(--clr-white);
    border-radius: 1rem;
    overflow: hidden;
  }
  .grande img.turma {
    background-image: linear-gradient(
      45deg,
      hsl(215, 99%, 65%),
      hsl(195, 99%, 65%)
    );
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    width: 100%;
    height: 14rem;
  }
  .grande img.revisão {
    background-image: linear-gradient(
      45deg,
      hsl(173, 65%, 41%),
      hsl(153, 91%, 71%)
    );
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    width: 100%;
    height: 14rem;
  }
  .grande .texto {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    padding: 1rem 3rem 3rem 3rem;
  }
  span {
    font-family: var(--font-bold);
  }
  .turma {
    color: var(--clr-lblue);
  }
  .revisão {
    color: var(--clr-dgreen);
  }
  h1 {
    color: var(--clr-black);
    font-family: var(--font-black);
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  .pequeno {
    background-color: var(--clr-ice);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0fr;
    min-width: 24rem;
    width: 100%;
    direction: rtl;
  }
  .pequeno > * {
    direction: ltr;
  }
  .pequeno .capa {
    position: absolute;
    right: clamp(-6.6rem, -7.6vw, -7rem);
    top: -1.2rem;
    height: auto;
    transform: scale(0.8);
  }
  .pequeno .texto {
    padding: 2.2rem 2.2rem 2.2rem 2.2rem;
    z-index: 1;
    text-align: left;
  }
</style>
