---
import Botao from "./Botao.astro";
const { capa, estilo, tag, turma } = Astro.props;
//grande, pequeno
---

<div class={"card " + estilo}>
  <div class="capa">
    <img
      src={capa}
      alt="Capa da turma"
      class={tag.toLowerCase()}
      width="373"
      height="252"
    />
  </div>
  <div class="texto">
    <span class={tag.toLowerCase()}>{tag}</span>
    <h1>{turma}</h1>
    <Botao estilo="outline-escuro pequeno mt-2" texto="Textinho bacana" />
  </div>
</div>

<style scoped>
  .card {
    background-color: var(--clr-white);
    border-radius: 1rem;
    overflow: hidden;
  }
  .grande img.turma {
    background-image: linear-gradient(
      45deg,
      hsl(215, 99%, 65%),
      hsl(195, 99%, 65%)
    );
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    width: 100%;
    height: 14rem;
  }
  .grande img.revisão {
    background-image: linear-gradient(
      45deg,
      hsl(173, 65%, 41%),
      hsl(153, 91%, 71%)
    );
    background-repeat: no-repeat;
    clip-path: polygon(0 0, 100% 0, 100% 85%, 0% 100%);
    width: 100%;
    height: 14rem;
  }
  .grande .texto {
    display: flex;
    flex-direction: column;
    place-items: center;
    place-content: center;
    padding: 1rem 3rem 3rem 3rem;
  }
  span {
    font-family: var(--font-bold);
  }
  .turma {
    color: var(--clr-lblue);
  }
  .revisão {
    color: var(--clr-green);
  }
  h1 {
    color: hsl(200, 9%, 13%);
    font-family: var(--font-black);
    font-size: 1.3rem;
    margin-top: 0.5rem;
  }
  .pequeno {
    background-color: hsl(215, 60%, 96%);
    position: relative;
    display: grid;
    grid-template-columns: 1fr 0fr;
    min-width: 24rem;
    width: 100%;
    direction: rtl;
  }
  .pequeno > * {
    direction: ltr;
  }
  .pequeno .capa {
    position: absolute;
    right: clamp(-6.6rem, -7.6vw, -7rem);
    top: -1.2rem;
    height: auto;
    transform: scale(0.8);
  }
  .pequeno .texto {
    padding: 2.2rem 2.2rem 2.2rem 2.2rem;
    z-index: 1;
    text-align: left;
  }
</style>
