---
import { Image } from "astro:assets";
import metodologia from "../img/imagem destaque 01.svg";
const {
  img,
  titulo1,
  titulo2,
  titulo3,
  titulo4,
  texto1,
  texto2,
  texto3,
  texto4,
} = Astro.props;
---

<section>
  <div class="destaque">
    {img && <Image src={metodologia} alt="metodologia" class="imagem" />}
    <h1>{titulo1}</h1>
    <p>
      {texto1}
    </p>
  </div>
  <div class="destaque">
    {img && <Image src={metodologia} alt="metodologia" class="imagem" />}
    <h1>{titulo2}</h1>
    <p>
      {texto2}
    </p>
  </div>
  <div class="destaque">
    {img && <Image src={metodologia} alt="metodologia" class="imagem" />}
    <h1>{titulo3}</h1>
    <p>
      {texto3}
    </p>
  </div>
  <div class="destaque">
    {img && <Image src={metodologia} alt="metodologia" class="imagem" />}
    <h1>{titulo4}</h1>
    <p>
      {texto4}
    </p>
  </div>
</section>

<style scoped>
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    place-items: center;
    place-content: space-between;
    width: 100%;
    z-index: 2;
    margin-top: -2rem;
  }
  .destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagem {
    width: 25%;
    height: auto;
    margin-bottom: 1.2rem;
    margin-left: -1rem;
  }
  h1 {
    font-family: var(--font-book);
    font-size: 1.2rem;
    color: var(--clr-green);
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  p {
  }
  @media screen and (min-width: 425px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 768px) {
    section {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
</style>
