---
import { Image } from "astro:assets";
import metodologia from "../img/imagem destaque 01.svg";
const {
  img,
  titulo1,
  titulo2,
  titulo3,
  titulo4,
  texto1,
  texto2,
  texto3,
  texto4,
} = Astro.props;
---

<section>
  <div class="destaque">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 144 144">
      <path fill="url(#paint0_linear_668_40)" d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z" opacity=".7"/>
      <path fill="#F6D813" d="M32.89 22c-4.28 0-8.02 1.76-10.4 4.44A14.15 14.15 0 0 0 19 35.89c0 3.36 1.1 6.77 3.48 9.45a13.86 13.86 0 0 0 10.4 4.44c2.4 0 4.52-.64 6.43-1.58l6.06 6.06c-2.4 3.56-4.15 7.6-4.15 12.18 0 4.92 1.93 9.24 4.66 12.93l-7.03 7.77a14.68 14.68 0 0 0-5.96-1.25c-4.28 0-8.02 1.75-10.4 4.44A14.15 14.15 0 0 0 19 99.78c0 3.35 1.1 6.77 3.48 9.45a13.86 13.86 0 0 0 10.4 4.44c4.3 0 8.03-1.76 10.41-4.44a14.15 14.15 0 0 0 3.49-9.45c0-2.38-.78-4.69-1.94-6.84L52 85.02c3.4 2.1 7.17 3.65 11.43 3.65 1.35 0 2.52-.54 3.8-.77l4.17 9.53c-.55.44-1.25.72-1.7 1.23a14.15 14.15 0 0 0-3.49 9.45c0 3.36 1.1 6.77 3.49 9.45A13.86 13.86 0 0 0 80.1 122c4.28 0 8.02-1.76 10.4-4.44a14.15 14.15 0 0 0 3.49-9.45c0-3.36-1.1-6.77-3.48-9.45a13.86 13.86 0 0 0-10.4-4.44c-.34 0-.6.17-.93.2l-4.16-9.5a21.91 21.91 0 0 0 7.13-7.25l9.13 2.28c0 .13-.07.26-.07.38 0 3.36 1.1 6.77 3.49 9.45a13.86 13.86 0 0 0 10.4 4.44c4.28 0 8.02-1.75 10.4-4.44a14.15 14.15 0 0 0 3.49-9.45c0-3.35-1.1-6.77-3.48-9.45a13.86 13.86 0 0 0-10.4-4.44c-4.3 0-8.03 1.76-10.41 4.44-.32.35-.43.8-.7 1.17l-9-2.26c.18-1.13.68-2.16.68-3.35 0-3.36-.88-6.47-2.23-9.33l10.93-7.92a15.1 15.1 0 0 0 9.35 3.37 15.2 15.2 0 0 0 11.45-4.88 15.6 15.6 0 0 0 3.83-10.4c0-3.7-1.22-7.47-3.83-10.4A15.2 15.2 0 0 0 103.72 22a15.2 15.2 0 0 0-11.45 4.87 15.59 15.59 0 0 0-3.83 10.4c0 1.78.32 3.57.9 5.28l-10.78 7.8a22.04 22.04 0 0 0-15.12-6.13c-4.59 0-8.62 1.74-12.18 4.15l-6.13-6.13a14.53 14.53 0 0 0 1.65-6.35c0-3.36-1.1-6.77-3.49-9.45A13.86 13.86 0 0 0 32.9 22Zm0 8.33c2.2 0 3.32.68 4.18 1.64a6 6 0 0 1 1.37 3.92 6 6 0 0 1-1.37 3.92c-.86.96-1.98 1.63-4.18 1.63-2.2 0-3.32-.67-4.18-1.63a6 6 0 0 1-1.38-3.92 6 6 0 0 1 1.38-3.92c.86-.96 1.98-1.64 4.18-1.64Zm70.83 0c2.66 0 4.13.85 5.22 2.08a7.43 7.43 0 0 1 1.73 4.87c0 1.85-.64 3.65-1.73 4.87-1.09 1.22-2.56 2.07-5.22 2.07-2.66 0-4.13-.85-5.22-2.07a7.43 7.43 0 0 1-1.72-4.87 7.4 7.4 0 0 1 1.72-4.87c1.1-1.23 2.56-2.08 5.22-2.08ZM63.44 52.56c7.72 0 13.9 6.16 13.9 13.88 0 7.72-6.18 13.9-13.9 13.9a13.83 13.83 0 0 1-13.88-13.9c0-7.72 6.16-13.88 13.88-13.88Zm41.67 22.22c2.2 0 3.32.67 4.18 1.64a6 6 0 0 1 1.38 3.91 6 6 0 0 1-1.38 3.92c-.86.96-1.98 1.64-4.18 1.64-2.2 0-3.32-.68-4.18-1.64a6 6 0 0 1-1.37-3.92 6 6 0 0 1 1.37-3.91c.86-.97 1.98-1.64 4.18-1.64ZM32.9 94.22c2.2 0 3.32.68 4.18 1.64a6 6 0 0 1 1.37 3.92 6 6 0 0 1-1.37 3.91c-.86.97-1.98 1.64-4.18 1.64-2.2 0-3.32-.67-4.18-1.64a6 6 0 0 1-1.38-3.91 6 6 0 0 1 1.38-3.92c.86-.96 1.98-1.64 4.18-1.64Zm47.22 8.34c2.2 0 3.32.67 4.18 1.63a6 6 0 0 1 1.38 3.92 6 6 0 0 1-1.38 3.92c-.86.96-1.98 1.64-4.18 1.64-2.2 0-3.32-.68-4.18-1.64a6 6 0 0 1-1.37-3.92 6 6 0 0 1 1.37-3.92c.86-.96 1.98-1.63 4.18-1.63Z"/>
      <defs>
        <linearGradient id="paint0_linear_668_40" x1="138" x2="14.88" y1="144.36" y2="132.49" gradientUnits="userSpaceOnUse">
          <stop stop-color="#24AC9D"/>
          <stop offset="1" stop-color="#3B6FB5"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>{titulo1}</h1>
    <p>
      {texto1}
    </p>
  </div>
  <div class="destaque">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 144 144">
      <path fill="url(#paint0_linear_668_36)" d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z" opacity=".6"/>
      <path fill="#F6D813" fill-rule="evenodd" d="M46.13 28c.63-5.58 5.38-10 11.12-10h17.5c5.74 0 10.49 4.42 11.12 10h8.88A11.3 11.3 0 0 1 106 39.25v67.5A11.3 11.3 0 0 1 94.75 118h-57.5A11.3 11.3 0 0 1 26 106.75v-67.5A11.3 11.3 0 0 1 37.25 28h8.88Zm28.62-2.5h-17.5a3.7 3.7 0 0 0-3.75 3.75A3.7 3.7 0 0 0 57.25 33h17.5a3.7 3.7 0 0 0 3.75-3.75 3.7 3.7 0 0 0-3.75-3.75Zm-26.83 10H37.25a3.7 3.7 0 0 0-3.75 3.75v67.5a3.7 3.7 0 0 0 3.75 3.75h57.5a3.7 3.7 0 0 0 3.75-3.75v-67.5a3.7 3.7 0 0 0-3.75-3.75H84.08c-2.03 3-5.47 5-9.33 5h-17.5c-3.86 0-7.3-2-9.33-5ZM43.3 60.77a3.6 3.6 0 0 1 1.45-.27h15a3.75 3.75 0 1 1 0 7.5h-15a3.75 3.75 0 0 1-1.45-7.23ZM84.6 79.1a3.75 3.75 0 1 1 5.3 5.3L86.3 88l3.6 3.6a3.75 3.75 0 1 1-5.3 5.3L81 93.3l-3.6 3.6a3.75 3.75 0 1 1-5.3-5.3l3.6-3.6-3.6-3.6a3.75 3.75 0 1 1 5.3-5.3l3.6 3.6 3.6-3.6Zm-41.3 4.17a3.6 3.6 0 0 1 1.45-.27h15a3.75 3.75 0 1 1 0 7.5h-15a3.75 3.75 0 0 1-1.45-7.23Z" clip-rule="evenodd"/>
      <path fill="#F6D813" d="M88.88 54.61c-.99.03-1.93.44-2.61 1.16L81 61.03l-3.6-3.6a3.75 3.75 0 1 0-5.3 5.3l3.6 3.6 1.76 1.77a5 5 0 0 0 7.08 0l1.76-1.77 5.27-5.26a3.75 3.75 0 0 0-2.69-6.46Z"/>
      <defs>
        <linearGradient id="paint0_linear_668_36" x1="138" x2="14.88" y1="144.36" y2="132.49" gradientUnits="userSpaceOnUse">
          <stop stop-color="#24AC9D"/>
          <stop offset="1" stop-color="#3B6FB5"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>{titulo2}</h1>
    <p>
      {texto2}
    </p>
  </div>
  <div class="destaque">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 144 144">
      <path fill="url(#paint0_linear_668_33)" d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z" opacity=".6"/>
      <path fill="#F6D813" d="M34.82 25a10.2 10.2 0 0 0-7.25 3.03 10.38 10.38 0 0 0 0 14.62 10.21 10.21 0 0 0 14.5 0 10.38 10.38 0 0 0 0-14.62A10.21 10.21 0 0 0 34.82 25Zm11.44 0c1.9 2.14 3.22 4.8 3.71 7.76h59.2v49.12H50.22v7.75h67.94a3.86 3.86 0 0 0 3.85-3.88 3.86 3.86 0 0 0-3.85-3.87h-1.28v-53a3.86 3.86 0 0 0-3.84-3.88H46.26ZM29.7 50.85a7.72 7.72 0 0 0-7.7 7.76v31.02h23.08V58.61H72a3.82 3.82 0 0 0 3.6-2.38 3.9 3.9 0 0 0-2.11-5.1 3.98 3.98 0 0 0-1.49-.28H29.69Zm2.57 46.54c-2.72 0-5.33 1.09-7.26 3.03a10.38 10.38 0 0 0 0 14.62 10.21 10.21 0 0 0 14.5 0 10.38 10.38 0 0 0 0-14.62 10.21 10.21 0 0 0-7.24-3.03Zm25.64 0a10.2 10.2 0 0 0-7.25 3.03 10.38 10.38 0 0 0 0 14.62 10.21 10.21 0 0 0 14.5 0 10.38 10.38 0 0 0 0-14.62 10.21 10.21 0 0 0-7.25-3.03Zm25.64 0a10.2 10.2 0 0 0-7.25 3.03 10.38 10.38 0 0 0 0 14.62 10.21 10.21 0 0 0 14.5 0 10.38 10.38 0 0 0 0-14.62 10.21 10.21 0 0 0-7.25-3.03Zm25.64 0a10.2 10.2 0 0 0-7.25 3.03 10.39 10.39 0 0 0 0 14.62 10.21 10.21 0 0 0 14.5 0 10.38 10.38 0 0 0 0-14.62 10.22 10.22 0 0 0-7.25-3.03Z"/>
      <defs>
        <linearGradient id="paint0_linear_668_33" x1="138" x2="14.88" y1="144.36" y2="132.49" gradientUnits="userSpaceOnUse">
          <stop stop-color="#24AC9D"/>
          <stop offset="1" stop-color="#3B6FB5"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>{titulo3}</h1>
    <p>
      {texto3}
    </p>
  </div>
  <div class="destaque">
    <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 144 144">
      <path fill="url(#paint0_linear_668_38)" d="M128.35 55.45c12.87 7.23 12.87 25.87 0 33.1L34 141.57c-12.55 7.05-28-2.08-28-16.55V18.98C6 4.51 21.45-4.62 34 2.43l94.35 53.02Z" opacity=".6"/>
      <path fill="#F6D813" d="M35.71 24C29.81 24 25 28.8 25 34.71v73.81c0 5.91 4.8 10.72 10.71 10.72h31.27a31.01 31.01 0 0 1-5.14-7.14H35.71a3.58 3.58 0 0 1-3.57-3.58v-73.8c0-1.97 1.6-3.58 3.57-3.58h54.77c1.97 0 3.57 1.6 3.57 3.57v32.55a30.9 30.9 0 0 1 7.14 1.97V34.71c0-5.9-4.8-10.71-10.71-10.71H35.7Zm9.53 21.43a3.57 3.57 0 1 0 0 7.14h2.38a3.57 3.57 0 1 0 0-7.14h-2.38Zm14.28 0a3.57 3.57 0 1 0 0 7.14h21.43a3.57 3.57 0 1 0 0-7.14H59.52ZM45.24 59.7a3.57 3.57 0 1 0 0 7.15h2.38a3.57 3.57 0 1 0 0-7.15h-2.38Zm14.28 0a3.57 3.57 0 1 0 0 7.15h21.43a3.57 3.57 0 1 0 0-7.15H59.52Zm29.77 11.9a26.2 26.2 0 1 0 0 52.4 26.2 26.2 0 0 0 0-52.4ZM45.24 74a3.57 3.57 0 1 0 0 7.14h2.38a3.57 3.57 0 1 0 0-7.14h-2.38Zm14.28 0a3.57 3.57 0 1 0 0 7.14h3.71A31.09 31.09 0 0 1 69.51 74h-9.99Zm29.77 4.76c10.5 0 19.04 8.55 19.04 19.05s-8.54 19.05-19.04 19.05a19.07 19.07 0 0 1-13.1-32.89 2.39 2.39 0 0 1 3.27 3.46 14.3 14.3 0 0 0 9.82 24.66 14.3 14.3 0 0 0 2.39-28.37v2.18a2.38 2.38 0 1 1-4.77 0v-4.76a2.38 2.38 0 0 1 2.39-2.38ZM45.24 88.3a3.57 3.57 0 1 0 0 7.14h2.38a3.57 3.57 0 1 0 0-7.14h-2.38Zm39.28 2.38c.61 0 1.22.23 1.69.7l4.76 4.76a2.38 2.38 0 1 1-3.37 3.36l-4.76-4.76a2.38 2.38 0 0 1 1.68-4.06Z"/>
      <defs>
        <linearGradient id="paint0_linear_668_38" x1="138" x2="14.88" y1="144.36" y2="132.49" gradientUnits="userSpaceOnUse">
          <stop stop-color="#24AC9D"/>
          <stop offset="1" stop-color="#3B6FB5"/>
        </linearGradient>
      </defs>
    </svg>
    <h1>{titulo4}</h1>
    <p>
      {texto4}
    </p>
  </div>
</section>

<style scoped>
  section {
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 2rem;
    place-items: center;
    place-content: space-between;
    width: 100%;
    z-index: 2;
    margin-top: -2rem;
  }
  .destaque {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .imagem {
    width: 25%;
    height: auto;
    margin-bottom: 1.2rem;
    margin-left: -1rem;
  }
  h1 {
    font-family: var(--font-book);
    font-size: 1.2rem;
    color: var(--clr-green);
    margin-top: 0;
    margin-bottom: 1.2rem;
  }
  p {
  }
  @media screen and (min-width: 425px) {
    section {
      grid-template-columns: 1fr 1fr;
    }
  }
  @media screen and (min-width: 768px) {
    section {
      grid-template-columns: 1fr 1fr 1fr 1fr;
    }
  }
  svg {
    width: 3.6rem;
    margin-bottom: 1.4rem;
  }
</style>
