---
import { Image } from "astro:assets";
import Capa from "./Capa.astro";

import capa from "../img/miscelaneas-ita.png";
---

<section>
  <div class="materiais">
    <button class="active"
      ><Image
        src={capa}
        alt="Capa do Catálise"
        class="btn-img"
        width={100}
      />Miscelânea completa</button
    >
    <button
      ><Image
        src={capa}
        alt="Capa do Catálise"
        class="btn-img"
        width={100}
      />Miscelâneas de Matemática</button
    >
    <button
      ><Image
        src={capa}
        alt="Capa do Catálise"
        class="btn-img"
        width={100}
      />Miscelâneas de Física</button
    >
    <button
      ><Image
        src={capa}
        alt="Capa do Catálise"
        class="btn-img"
        width={100}
      />Miscelânea de Química</button
    >
  </div>
  <Capa
    title="Miscelânea"
    linha="true"
    destaque=" completa"
    botao="Compre agora"
  >
    <p class="txt-capa" slot="conteudo">
      A caminhada até a aprovação no ITA exige uma preparação exclusiva.
    </p>
    <h1 class="valor" slot="conteudo">R$ 1.480,00</h1>
    <Image src={capa} alt="Capa do Catálise" class="img-capa" slot="imagem" />
  </Capa>
</section>
<script></script>
<style scoped>
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4rem;
    width: 100%;
    margin-top: 2rem;
  }
  .valor {
    font-family: var(--font-black);
    color: var(--clr-yellow);
    margin-top: 2.4rem;
  }
  .materiais {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 4rem;
    z-index: 3;
    padding-bottom: 1.2rem;
    border-bottom: 0.12rem solid var(--clr-blue);
  }
  button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    background: none;
    color: var(--clr-white);
    font-family: var(--font-light);
    font-weight: 600;
    border: none;
  }
  button .btn-img {
    border-radius: 100rem;
    height: 100px;
    object-fit: cover;
    background: var(--clr-dgray);
    border: 0.2rem solid var(--clr-dblue);
    transition: all 0.5s ease;
  }
  button:hover .btn-img {
    filter: drop-shadow(-0.4rem -0.4rem 0.4rem hsl(215, 100%, 30%))
      drop-shadow(0.4rem 0.4rem 0.4rem hsl(195, 100%, 24%));
    }
    .active {
      position: relative;
      color: var(--clr-green);
    }
    .active::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 0.24rem;
      background: var(--clr-lblue);
      bottom: -1.28rem;
      border-radius: 100rem 100rem 0 0;
    }
    .active .btn-img {
      background: var(--clr-blue);
      border: 0.2rem solid var(--clr-green);
    }
  </style>
