---
const { estilo, titulo, subtitulo, tag, botao, link, colunas } = Astro.props;
import Botao from "./Botao.astro";
import Link from "./Link.astro";
---

<section class={estilo}>
  <div>
    <div>
      <span>{tag}</span>
      <h1>{titulo}</h1>
      <p>{subtitulo}</p>
    </div>
    {botao && <Botao estilo="claro grande mt-3" texto={botao} link={link} />}
    {link && !botao && <Link estilo="claro grande" texto={link} />}
  </div>
  <div class={"conteudo " + colunas}>
    <slot />
  </div>
</section>

<style scoped>
  section {
    width: 100%;
    position: relative;
    z-index: 2;
  }
  section > div:first-child {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    z-index: 1;
  }
  section > div:first-child div:first-child {
    max-width: 50%;
  }
  .conteudo {
    width: 100%;
    display: grid;
    gap: 1rem;
    place-items: center;
    place-content: center;
    margin-top: 4rem;
    overflow: visible;
  }
  .col3 {
    grid-template-columns: repeat(auto-fit, minmax(19rem, 1fr));
  }
  .col4 {
    grid-template-columns: repeat(auto-fit, minmax(16rem, 1fr));
  }
  .g4 {
    row-gap: 4rem;
  }
  .claro {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    background: linear-gradient(
      80deg,
      hsl(226, 100%, 97%),
      hsl(200, 100%, 80%)
    );
    border-radius: 2rem;
    width: calc(85vw - 2rem);
    padding: 3rem 3rem;
    color: var(--clr-black);
    filter: drop-shadow(-4rem -4rem 6rem hsl(215, 100%, 30%))
      drop-shadow(4rem 4rem 6rem hsl(195, 100%, 24%));
    overflow: hidden;
    z-index: 1;
  }
  .claro > div:first-child {
    z-index: 1;
  }
  .claro > div:first-child div:first-child {
    max-width: 100%;
  }
  .claro .conteudo {
    gap: 1rem;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-top: 0;
  }
  .claro div {
    max-width: 1200px;
  }
  .claro span {
    color: var(--clr-blue);
  }
  .centro {
    display: grid;
    grid-template-columns: 1fr;
    text-align: center;
    place-content: center;
    place-items: center;
  }

  .centro > div:first-child {
    display: block;
    max-width: 39rem;
  }
  .centro > div:first-child div:first-child {
    max-width: 100%;
  }
  .centro .conteudo {
    place-content: space-evenly;
  }
  span {
    font-family: var(--font-bold);
    font-size: clamp(0.9rem, 1.2vw, 1.4rem);
    color: var(--clr-yellow);
    line-height: 2.5;
  }
  h1 {
    font-size: clamp(1.9rem, 3.5vw, 2.7rem);
  }
  .claro h1 {
    font-family: var(--font-black);
  }
  p {
    font-family: var(--font-book);
    font-size: clamp(0.9rem, 1.2vw, 1.1rem);
    margin-top: 1.4rem;
  }
  .aprovacoes {
    min-height: 24rem;
  }
  @media screen and (min-width: 768px) {
    .claro {
      width: -webkit-fill-available;
    }
  }
  @media screen and (min-width: 1026px) {
    .claro {
      display: grid;
      grid-template-columns: 1fr 1fr;
      gap: 9rem;
      place-content: center;
      padding: 5rem 6rem;
      width: clamp(20rem, 80vw, 75rem);
    }
    .centro {
      grid-template-columns: 1fr;
    }
  }
</style>
